@import "_fonts";
@import "_type";
@import "_prose";
@import "_fades";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    details > summary::marker,
    details > summary::-webkit-details-marker {
        display: none;
    }

    .container {
        @apply max-w-none mx-auto px-4 sm:px-4 md:px-6;
    }
}

[x-cloak] {
    display: none !important;
}

form {
    margin-bottom: 0;
}

cite:first-line {
    @apply type-subtitle;
}
