@import "_fonts";
@import "_type";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

/* h1 */
.ChooseSeatsHeading h2,
h1.EditTicketsHeading,
h1.BasketHeading {
    @apply type-medium mb-2;
    @apply font-normal !important;
}

.spx-heading-headline,
#ctl00_ContentPlaceHolder_EditTicketsWikiTextViewer h2 {
    @apply type-regular mt-4 mb-6;
}

#ctl00_ContentPlaceHolder_InstanceTicketsEditor table {
    width: 100%;
}

.spx-heading-sub-headline {
    @apply type-small mt-4 mb-2;
}

#ctl00_ContentPlaceHolder_ChangeMySeatsLink {
    @apply underline mb-8 inline-block;
}

.spx-legend-guide {
    @apply mb-8;
}

.spx-label-additional-context {
    @apply type-xs-mono;
}

.spx-section-container.spx-state-read-only:after {
    @apply bg-no-repeat rounded-full bg-yellow h-8 w-8 block absolute bottom-0 right-0;
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjggOCA4IDgiICBzdHJva2VXaWR0aD0iMS41IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgY2xhc3M9InctNiBoLTYiPjxwYXRoIHN0cm9rZUxpbmVjYXA9InJvdW5kIiBzdHJva2VMaW5lam9pbj0icm91bmQiIGQ9Ik05IDEyLjc1TDExLjI1IDE1IDE1IDkuNzUiIC8+PC9zdmc+");
    background-position: center;
    background-size: 60%;
}

#SpektrixFooter {
    @apply bg-transparent pt-40 static !important;
}

.spx-list-item__checkout--ticket-summary {
    @apply flex py-2 border-b border-gray-light max-w-lg gap-1;
}

.spx-sublist-summary__checkout--ticket-summary {
    @apply pl-4 ml-auto;
}

.spx-list-item__checkout--ticket-summary:last-child {
    @apply border-none;
}

h3,
h4,
h5,
h6 {
    @apply type-regular;
}

@layer base {
}

.Button,
.LinkButton,
.spx-link-edit {
    @apply rounded bg-sand-light px-12 py-1 font-bold hover:bg-yellow transition;
}

.spx-link-edit__checkout {
    @apply absolute top-4 right-2;
}

.spx-text-copy__checkout--start-checkout {
    @apply mb-16;
}

label {
    @apply block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="url"],
select {
    @apply max-w-lg w-full rounded bg-sand-light p-4 my-2;
}

.spx-section-container {
    @apply relative max-w-3xl mr-12 w-full bg-transparent pt-4 mb-4;
}

.spx-section-container {
    @apply border-t border-sand-dark;
}

.spx-section-container:first-child {
    @apply border-none;
}

.spx-section-container.spx-state-empty .spx-heading-headline {
    @apply text-gray-medium;
}

.spx-field-container__checkout--ticket-delivery,
.spx-field-container__checkout--select-address,
.spx-field-container__checkout--gift-aid,
.spx-field-container__checkout--contact-preferences,
#UseCreditToPayForm .spx-field-container__checkout--credit,
.spx-field-container__checkout--order-summary,
.spx-field-container__checkout--payment-method {
    @apply my-4 flex gap-2;
}

.spx-field-container__checkout--order-summary a {
    @apply underline;
}

.spx-validation-message {
    @apply block;
}

/*
Booking Path
*/

.SeatingSelector {
    @apply mb-16;
}

#ctl00_SpektrixFooter,
.InstanceCalendar,
#ctl00_ContentPlaceHolder_RelatedOffersControl1_LoginForDiscounts {
    display: none;
}

.Event.EventDetails {
    @apply text-transparent leading-tight;
}

.Event.EventDetails span {
    @apply text-black;
}

.Event.EventDetails .EventName {
    @apply font-bold;
}

.Event.EventDetails .EventName::after {
    content: "";
    @apply inline-block ml-1;
}

.Event.AreaAndVenueDetails {
    @apply leading-tight;
}

.SeatingAreaInstructions {
    width: 27ch;
    @apply mt-20 py-2 leading-tight mb-2;
}

/* .SeatingAreaInstructions:first-line {
    @apply font-bold;
} */

.PricesContainer {
    @apply hidden;
}

.ErrorMessage {
    @apply bg-yellow py-2 px-4 rounded mt-2 mb-4;
}

.ErrorMessage:empty {
    @apply hidden;
}

/* We want to hide the 'members please select a full price ticket...' message
   as we display our own separately */

.ChooseSeatsHeading {
    visibility: collapse;
    height: 2.5em;
}

.ChooseSeatsHeading h2 {
    visibility: visible;
}

.Ticket_Types_Selection {
    @apply border-t border-b border-gray-light divide-y divide-gray-light;
}

.Ticket_Types_Selection .TicketType {
    @apply flex flex-row items-center;
}

.Ticket_Types_Selection .TicketType .Input_Text {
    @apply bg-sand-light my-0 rounded-none border-none w-16 py-6 text-center order-last  type-regular !font-normal !font-mono;
}

.Ticket_Types_Selection .TicketType .Price {
    @apply w-24 overflow-hidden;
    text-indent: -2ch;
}

#ctl00_ContentPlaceHolder_UpdateBasketButton {
    @apply mt-4;
}

.Ticket_Types_Selection .TicketType label.left {
    @apply mr-auto;
}

/*
 * Snacks
 */

.SupplementaryEventDiv .Event_Dates.Event_Detail {
    @apply hidden;
}

#SimpleSeatingDiv {
    @apply mt-8 divide-y divide-gray-light;
}

#SimpleSeatingDiv .TicketType {
    @apply py-2 flex flex-row items-center gap-2;
}

#SimpleSeatingDiv .TicketType span + span {
    @apply font-bold ml-auto;
}

#ctl00_ContentPlaceHolder_EventsRepeater_ctl00_Label2 {
    display: none;
}

#SimpleSeatingDiv .TicketType input[type="tel"] {
    @apply w-12 text-center rounded-full border border-gray px-2;
}

.InfoMessage {
    @apply my-8 font-bold;
}

#ctl00_ContentPlaceHolder_ContinueToBasketButton {
    @apply mt-8;
}

/*
 * Basket
 */
#ctl00_ContentPlaceHolder_BasketUpdate {
    @apply flex flex-col;
}

#ctl00_ContentPlaceHolder_DiscountsPanel {
    order: 999;
    @apply my-8;
}
#ctl00_ContentPlaceHolder_DiscountsPanel h2 {
    @apply type-regular mb-1;
}

#ctl00_ContentPlaceHolder_RelatedOffersControl1_LoginForDiscountsText {
    @apply hidden;
}

#ctl00_ContentPlaceHolder_DiscountsPanel .Input_Text {
    @apply my-0 py-1 bg-transparent border border-gray-light;
}

#ctl00_ContentPlaceHolder_DiscountsPanel h2,
#ctl00_ContentPlaceHolder_RelatedOffersControl_Container {
    @apply hidden;
}

#ctl00_ContentPlaceHolder_PromoCodeBox_PromoCodeTextBox {
    width: 65%;
}

#ctl00_ContentPlaceHolder_PromoCodeBox_PromoCodeButton {
    @apply rounded bg-transparent border border-gray-light px-0 w-1/3;
}

.PromoCode label {
    @apply block w-full;
}

.Basket2 dt.Item.Instance {
    @apply font-bold pt-4 mt-4 border-t border-gray-light;
}

.Basket2 .Buttons {
    @apply mt-4;
}

dt.Footer {
    @apply hidden;
}

dd.Footer {
    @apply pt-4 mt-4 border-t border-gray-light;
}

.Value.Money {
    @apply font-bold;
}

.Basket2 .Header {
    display: none;
}

.spx-heading-sub-headline {
    @apply mt-8;
}

.spx-heading-title__checkout {
    @apply lg:type-large type-medium mb-8;
}

.CheckoutLink,
.spx-button-primary,
.spx-button-secondary,
.SaveDetailsButton {
    @apply max-w-lg w-full mt-16 rounded bg-sand-light type-regular py-4 px-4 after:w-8 after:h-8 after:block after:ml-auto after:pl-2 flex flex-row items-center;
}

.spx-button-primary {
    @apply bg-yellow;
}

.spx-button-primary + .spx-button-primary,
.spx-button-secondary__checkout--donations:last-child {
    @apply mt-2;
}

.spx-button-tertiary {
    @apply rounded px-6 py-2 border border-sand-dark type-small;
}

.CheckoutLink::after,
.spx-button-primary::after,
.spx-button-secondary::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNy40MzEiIGhlaWdodD0iMjcuNDMxIiB2aWV3Qm94PSIwIDAgMjcuNDMxIDI3LjQzMSI+CiAgICA8ZyBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlPSIjMDAwIj4KICAgICAgICA8cGF0aCBkYXRhLW5hbWU9IlBhdGggODciIGQ9Ik0xMy42NTUuMzQ1bDEzLjM3IDEzLjM3LTEzLjM3IDEzLjM3Ii8+CiAgICAgICAgPHBhdGggZGF0YS1uYW1lPSJMaW5lIDE4IiBkPSJNLjI4NCAxMy43MTZoMjYuNzQyIi8+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.spx-validation-errorlist li {
    @apply my-2 bg-yellow type-small px-4 max-w-lg py-2;
}

.spx-validation-message {
    @apply block font-bold mb-8;
}

.spx-link__checkout--new-address {
    @apply type-small mt-4 block underline;
    @apply font-normal !important;
}

.spx-input-dropdown__checkout--new-address {
    display: block;
    width: 100%;
}

.spx-input-text__checkout--donation {
    @apply max-w-xs;
}

#foxform .Container {
    @apply my-4;
}

.spx-heading-title__checkout {
    @apply hidden;
}

.spx-field-container__checkout--donation {
    @apply relative max-w-lg;
}

.spx-intent-decrement {
    @apply absolute right-20 bottom-4;
}

.spx-intent-increment {
    @apply absolute right-4 bottom-4;
}

.spx-field-container.spx-field-container__checkout.spx-field-container__checkout--donation
    .spx-text-copy__checkout--donation {
    @apply absolute bottom-6 left-4 text-gray-medium;
}

.spx-input-text__checkout--donation {
    @apply !pl-12;
}

.spx-heading-headline__checkout--ticket-delivery-address {
    @apply type-small mb-2 mt-4;
}

.spx-field-container {
    @apply my-4;
}

.spx-heading-sub-headline__checkout--contact-preferences {
    @apply font-normal text-base max-w-lg;
}

.spx-list-contact-preferences__checkout--contact-preferences,
.spx-subsection-summary-container__checkout--ticket-delivery,
.spx-subsection-container__checkout--donation,
.spx-label-field__checkout--payment-method {
    @apply max-w-lg;
}

.FoxIFrameControl iframe,
.spx-iframe__checkout--payment {
    height: 750px;
}

.SeatSelectable,
.Seat {
    mix-blend-mode: multiply;
}

.MyAccountHeading {
    @apply hidden;
}

.MyAccount h2 {
    @apply type-regular mb-2;
}

.DetailsEditor {
    @apply space-y-8;
}

.MyAccount .Buttons {
    margin-bottom: 4rem;
}

#ctl00_ContentPlaceHolder_AccountDetailsEditor_DateOfBirth_DayDropDown,
#ctl00_ContentPlaceHolder_AccountDetailsEditor_DateOfBirth_MonthDropDown {
    @apply w-1/4;
}

#ctl00_ContentPlaceHolder_AccountDetailsEditor_DateOfBirth_YearBox {
    width: 75px !important;
}

/* .Options {
    float: right;
    @apply pl-6 lg:pl-8;
}

.Options .Selected {
    @apply font-bold;
} */

#ctl00_ContentPlaceHolder_ChangePassword {
    @apply underline mt-8;
}

.PreferenceHeading {
    @apply type-small mb-4;
}
#ctl00_ContentPlaceHolder_EditContactPreferences {
    @apply underline;
}

.Input_Checkbox {
    @apply flex flex-row gap-4;
}

.DetailsEditor {
    overflow: hidden;
}

.Options {
    @apply mb-8;
}

@media screen and (min-width: 480px) {
    .Options {
        float: right;
        margin-left: 1.5rem;
        padding-left: 1.5rem;
        border-left: 1px solid;
        clear: both;
    }
}
@media screen and (max-width: 480px) {
    .Options:hover {
        @apply bg-sand-light rounded;

        padding: 0.5em 1em;
    }

    .Options:hover a {
        display: inline-block !important;
        border: none !important;
        border-radius: 0 !important;
        padding: 0 !important;
    }

    .Options:hover a::after {
        content: none !important;
    }
}

.Options a {
    display: none;
}

@media screen and (min-width: 480px) {
    .Options a {
        display: inline-block;
    }
}

.Options a.Selected {
    display: flex !important;
    font-weight: bold;
    pointer-events: none;
}

@media screen and (max-width: 480px) {
    .Options a.Selected {
        width: 100%;

        @apply bg-sand-light rounded;

        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;
    }

    .Options a.Selected::after {
        content: "▼";
    }
}
